<IfModule mod_rewrite.c>
# .htaccess
#
# ???????????URL Rewrite????apache???????????LoadModule rewrite_module modules/mod_rewrite.so??
# ???????????????apache??DocumentRoot????AllowOverride
# 
# ????????apache??httpd.conf??????????
# <Directory "YourDocumentRoot">
#   Options Indexes FollowSymLinks ExecCGI Includes
#   AllowOverride All
#   Order allow,deny
#   Allow from all
# </Directory>
#

# ???????URL Rewrite.
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]

</IfModule>